html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.teko {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

ul {
    list-style: none;
}

.topo {
    width: 100%;
    height: 19vh;
}

.search-login {
    display: flexbox;
    height: 14vh;
    background-color: rgb(0, 172, 202);
    background-image: url(/src/img/TIGER__1_-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: 1.3%;
    
}

.categorias {
    height: 5vh;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 1px #EEEEEE;
    box-shadow: 3px 1px 10px gray;
    border-radius: 3px;
}

.categorias ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.categorias ul li {
    color: gray;
    padding-top: 0.7%;
    padding-bottom: 0.5%;
    
}

.search-login input {
    margin-left: 35%;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 22%;
    padding-left: 1.3%;
    border-radius: 10px;
    border: none;
    background-image: url(/src/img/89fbfbe1b4c301b7be5565c6f98e0495.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 100%;
    border-style: none;
    box-shadow: 3px 3px 7px;
}

.categorias li:hover {
    transform: scale(1.01);
    background-color: #F9F9F9;
}

a {
    text-decoration: none;
    color: gray;
}

.supplements img, .accs img, .roupas img {
    width: 100%;
    height: 65vh;
    transition: ease-in 0.3;
    box-shadow: 3px 3px 10px #0F0F0F;
}

.supplements img:hover {
    transform: scale(1.001);
}

.slogan {
    font-family: "Teko", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #0F0F0F;
    padding: 0.77%;
    background-color: #C4C4C4;
}

.sepacc {
    font-family: "Teko", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #0F0F0F;
    padding: 0.77%;
    background-color: #D8D8D8;
}

.seprps {
    font-family: "Teko", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #0F0F0F;
    padding: 0.77%;
    background-color: #E2E2E2;
}

#sup-prod {
    display: flex;
    margin: auto;
    width: 80%;
    height: 54vh;
    border-radius: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.77%;
    
}

.supplements {
    background-color: #C8C8C8;
}

#sup-prod img {
    width: 20%;
    height: 95%;
    margin-bottom: 0.5%;
    border-radius: 10px;
}

#sup-prod img:hover {
    transform: scale(1.01);
}

.accs{
    background-color: #DFDFDF;
}

.roupas{
    background-color: #E8E8E8;
}

.footer {
    padding: 2%;
    text-align: center;
    background-color: rgb(0, 172, 202);
    color: white;
    text-shadow: 1px 1px 1px black;
}
